.container {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close {
  z-index: 2;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
}

.container > * {
  margin: 3px;
  height: 1px;
  background-color: var(--main-color);
  transition: transform 150ms;
}

.close > .line_1 {
  transform: rotate(45deg) translate(3px, 3px);
  transition: transform 150ms;
}

.close > .line_2 {
  display: none;
}

.close > .line_3 {
  transform: rotate(-45deg) translate(2px, -2px);
  transition: transform 150ms;
}

.container:focus-within > .close {
  outline: auto;
}
