.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  margin: 0 auto;
}

.container > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 8vw;
  font-family: var(--mono-font);
  color: var(--main-color);
  font-style: italic;
  font-size: 18px;
}

.container > span::before,
.container > span::after {
  content: ' ';
  width: 25vw;
  height: 1px;
  background: var(--main-color);
}
