.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10vh 15vw;
  min-height: calc(100vh - 65px);
  overflow-x: hidden;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.greeting {
  margin: 0;
  font-family: var(--sans-font);
  color: var(--main-color);
  animation: fade-in-right 600ms forwards 1.5s;
  font-size: 18px;
  -webkit-animation: fade-in-right 600ms forwards 1.5s;
}

.name {
  font-family: var(--sans-font);
  font-size: 70px;
  margin: 0 0 10px;
  color: var(--main-color);
  line-height: 65px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-animation: fade-in-right 900ms forwards 1.5s;
  animation: fade-in-right 900ms forwards 1.5s;
  word-wrap: break-word;
  max-width: 290px;
}

.dev {
  font-family: var(--sans-font);
  color: var(--main-color);
  font-size: 28px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 5px 0 0;
  margin: 0;
  background: -o-linear-gradient(right, transparent 50%, var(--main-color) 50%) right;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, var(--main-color))) right;
  background: linear-gradient(to left, transparent 50%, var(--main-color) 50%) right;
  background-size: 200%;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  -webkit-animation: fade-in-right 1500ms forwards 1.5s;
  animation: fade-in-right 1500ms forwards 1.5s;
}

.devDot {
  color: var(--main-color);
}

.dev:hover {
  font-style: italic;
  background-position: left;
  color: var(--inner-font-color);
}

.dev:hover .devDot {
  color: black;
}

.paragraph {
  color: var(--main-color);
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 1rem;
  font-family: var(--mono-font);
  -webkit-animation: fade-in-right 1700ms forwards 1.5s;
  animation: fade-in-right 1700ms forwards 1.5s;
  font-weight: bold;
  max-width: 450px;
}

.scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  animation: fade-in-up 2.2s 1.5s;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: var(--main-color);
  font-family: var(--sans-font);
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  -webkit-animation: fade-in-up 2.2s 1.5s;
}

.scrollDown > a {
  padding: 25px 0 50px;
}

@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4vw);
    transform: translateX(4vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4vw);
    transform: translateX(4vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3vh);
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3vh);
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 360px), (max-height: 520px) {
  .headerContainer {
    padding: 4vh 10vw;
    width: 100%;
  }

  .name {
    font-size: 50px;
    line-height: 50px;
  }
}
