.container {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hide {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: disappear 300ms ease forwards;
  -webkit-animation: disappear 300ms ease forwards;
}

.logo {
  bottom: -60vh;
  position: relative;
  animation: appear 500ms ease 200ms forwards;
  -webkit-animation: appear 500ms ease 200ms forwards;
}

.logo > * {
  font-size: 60px !important;
}

@-webkit-keyframes appear {
  0% {
    bottom: -60vh;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes appear {
  0% {
    bottom: -60vh;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
