.container {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: var(--nav-height);
  transition: top 500ms;
  z-index: 20;
  background-color: var(--background-color);
  padding-right: 20px;
}

.hidden {
  top: calc(var(--nav-height) * -1);
}

.links {
  display: flex;
  align-items: center;
}

.drawerButton,
.drawerLogo {
  display: none;
}

.linksList {
  list-style: none;
  display: flex;
  padding: 0px 5px;
  align-items: center;
  gap: 25px;
}

.linksList li {
  height: 26px;
  margin: 5px 0;
  padding: 0 10px 6px;
  cursor: pointer;
  border-left: 2px solid var(--main-color);
  background: linear-gradient(to left, transparent 50%, var(--main-color) 50%)
    right;
  background-size: 200%;
  transition: transform 200ms ease, background-color 300ms ease, color 300ms ease;
}

.linksList li a {
  text-transform: uppercase;
  transition: color 100ms ease;
}

.linksList li:hover,
.linksList li:focus-within {
  transform: scale(1.1);
  background-position: left;
}

.linksList li:hover > a,
.linksList li:focus-within > a {
  color: var(--background-color);
}

@media screen and (max-width: 860px) {
  .hidden {
    top: 0;
  }

  .drawerButton,
  .drawerLogo {
    display: block;
  }

  .links {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    background: var(--background-color);
    transform: translateX(0);
    transition: transform 200ms ease;
    flex-direction: column;
    align-items: flex-start;
  }

  .linksList {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
    margin: 5px 20px;
    overflow: auto;
  }

  .linksList li {
    height: max-content;
  }

  .linksList li a {
    font-size: 2rem;
  }

  .open {
    transform: translateX(-100%);
  }
}
