.container {
  padding: 120px 0;
  margin: auto 0;
}

.stack_background {
  margin: 0 auto;
  padding: 15px 15px 0;
  background-color: var(--main-color);
  transition: all 200ms;
  opacity: 0;
  box-shadow: 0px 4px 6px #3535359c;
  display: flex;
  flex-direction: column;
  max-width: 1468px;
}

.switch {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.ns {
  padding: 0;
  margin: 0;
  font-family: var(--sans-font);
  color: var(--inner-font-color);
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

.s {
  border-bottom: 2px solid var(--inner-font-color);
  font-style: normal;
  transition: border-bottom 250ms ease, color 250ms ease;
}

.stack_data {
  display: flex;
  position: relative;
  opacity: 0;
  gap: 55px;
  top: 50%;
  margin: auto;
  height: 100%;
  align-items: center;
  visibility: collapse;
  transition: top 550ms ease-in-out, opacity 550ms ease;
}

.stack_data_s {
  z-index: 99;
  top: 0;
  display: flex;
  opacity: 1;
  visibility: inherit;
}

.stack_outer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
  min-height: 210px;
  margin: 60px 0 70px;
}

.stack_outer > * {
  position: absolute;
  height: 100%;
}

.stack_icons {
  display: flex;
  width: max-content;
  max-width: 95vw;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  background-color: var(--main-color);
  box-shadow: 10px 10px 1px #0000003b;
}

.icon {
  position: relative;
  top: 0px;
  width: 95px;
  transition: top 350ms ease-in-out;
}

.icon_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  margin-top: 35px;
}

.icon_container > a,
.icon_container > p {
  padding: 10px 0;
  position: absolute;
  top: -60px;
  opacity: 0;
  display: none;
  font-family: var(--sans-font);
  color: var(--inner-font-color);
  transition: opacity 200ms ease-in-out;
  text-align: center;
  width: max-content;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon_container > a > *,
.icon_container > p > * {
  height: 20px;
  padding-left: 5px;
}

.icon_container:focus-within .icon,
.icon_container:hover .icon {
  top: -15px;
}

.icon_container:focus-within a,
.icon_container:focus-within p,
.icon_container:hover a,
.icon_container:hover p {
  opacity: 1;
}

.icon path {
  transition: fill 350ms;
  fill: var(--background-color);
}

.icon_container:focus-within .html_icon path,
.icon_container:hover .html_icon path {
  fill: #e44d26;
}

.icon_container:focus-within .css_icon path,
.icon_container:hover .css_icon path {
  fill: #1572b6;
}

.icon_container:focus-within .js_icon path,
.icon_container:hover .js_icon path {
  fill: #f0db4f;
}

.icon_container:focus-within .next_icon path,
.icon_container:hover .next_icon path {
  fill: black;
}

.icon_container:focus-within .mui_icon path,
.icon_container:hover .mui_icon path {
  fill: #1fa6ca;
}

.react_icon g circle {
  transition: fill 350ms;
  fill: var(--background-color);
}

.icon_container:focus-within .react_icon g > *,
.icon_container:hover .react_icon g > * {
  fill: #61dafb;
}

.icon_container:focus-within .node_icon path,
.icon_container:hover .node_icon path {
  fill: #83cd29;
}

.icon_container:focus-within .express_icon path,
.icon_container:hover .express_icon path {
  fill: black;
}

.icon_container:focus-within .sequelize_icon path,
.icon_container:hover .sequelize_icon path {
  fill: #2f406a;
}

.icon_container:focus-within .mongo_icon path,
.icon_container:hover .mongo_icon path {
  fill: #4faa41;
}

.icon_container:focus-within .postgre_icon path,
.icon_container:hover .postgre_icon path {
  fill: #336791;
}

@media (max-width: 943px) {
  .stack_outer {
    min-height: 180px;
    margin-top: 40px;
  }

  .stack_data {
    column-gap: 4vw;
    height: 160px;
  }

  .icon {
    width: 60px;
  }
}

@media (max-width: 743px) {
  .stack_outer {
    min-height: 150px;
    margin-top: 30px;
  }

  .stack_data {
    column-gap: 6vw;
    height: 160px;
  }
}

@media (max-width: 650px) {
  .icon {
    width: 40px;
  }
}

@media (max-width: 440px) {
  .stack_outer {
    min-height: 110px;
    margin-top: 0;
  }

  .stack_data {
    column-gap: 24px;
  }
}

@media (max-width: 330px) {
  .switch {
    width: 100%;
  }

  .switch > button > span {
    font-size: 12px;
  }

  .stack_data {
    column-gap: 15px;
    height: 160px;
  }

  .icon {
    width: 30px;
  }
}
